html, body{
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Martian Mono', monospace, sans-serif; 
    font-weight: 300; 
    letter-spacing: -0.5px;
}


.sml-header{
    font-weight: 200; 
    font-size: 13px;
    display: block;
    margin: 15px 0 0 0;
}

header{
    text-align: center;
}




h1{
    font-weight: 300;
    color: #F9463C;
    letter-spacing: -2px;
    /*padding: 20px 0 36px 0;*/
    font-size: 32px;
    
   
}

h1 a{
    font-weight: 300;
    color: #F9463C;
    letter-spacing: -2px;
    text-decoration: none;   
}


h4{
    color: blue;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -2px;
    background: linear-gradient(
        to right, #f66c62, #ff6b08,
       #f994c0, #eedd44);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       font-weight: 700;
       margin: 20px 0 0 0;
}

/*navigation*/
* {
    box-sizing: border-box;
  }

  h2 {
    vertical-align: center;
    text-align: center;
  }

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f66c62;
    background: linear-gradient(
   to right, #f66c62, #f994c0, #ff6b08,
   #f994c0);
     color: #FFF;
    height: 50px;
    padding: 1em;
  }

  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto;
    padding: 0;
    letter-spacing: -1px;
   font-size: 11px;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu li a{
    text-decoration: none;
    color: white;
  }

  .menu li a:hover{
    opacity: 0.5;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
































nav{
    padding:15px;
    background: linear-gradient(
   to right, #f66c62, #f994c0, #ff6b08,
   #f994c0);
   letter-spacing: -1px;
   font-size: 11px;
}


nav a{
    text-decoration: none;
    color: white;
    padding: 15px;

}

.nav a:hover{
    opacity: 0.5;

}





.header_img{
    background-image: url("../assets/images/tc-postcard.jpg");
    height: 280px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}


h2{
    font-weight: 700;
    letter-spacing: -2px;
    background: linear-gradient(
        to right, #f66c62, #ff6b08,
       #f994c0, #eedd44);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       font-weight: 700;

}

h3{
    color:#f9463c;
    font-size:14px;
    background-color: white;
}

p{
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    font-size: 12px;
    line-height: 24px;
    text-indent: 35px;
}

.wrapper{
    padding: 1em 4em;
    background-color: white;
    display: grid;
    /*grid-template-columns: 1fr min(65ch, 100%) 1fr;*/
    grid-template-columns: 1fr

}

.wrapper > * {

    grid-column: 2;
}

.full{

    width: 100%;
    grid-column: 1 / 4;
}

img{
    max-height: 100%;
}


header,
main,
section.leftnav,
aside,
article
 {
    padding: 1em;
}



main{
    /*background-color: yellow;*/
    background-image:url( "../assets/images/TC-beach-day-waves.gif");
    background-repeat: repeat-x repeat-y;
    background-size: 498px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

article,
aside,
section.leftnav{
    background-color: initial;
}

article{
   
}

aside{
    background-color: #e57567;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 120px;
   
}

section.leftnav{
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding: 120px 50px 0px 20px;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: -1px;
    color: #5e5e5e;
}

section.leftnav li{
    padding: 20px 0;
}

@media screen and (min-width: 600px) {
    main {
        grid-template-columns: 2fr 5fr 1fr;
    }
}


ul.fav-spots{
    color:#f9463c;
    font-size:12px;
    line-height: 22px;
}


/*footer*/

footer{

}


.footer-bg{
    background: linear-gradient(
  to right, #f66c62, #f994c0, #ff6b08,
  #f994c0);
  
}

.footer-txt{
    color: white;
    font-size: 10px;
    padding: 260px 0 0 24px;
    display: block;


} 


/*Image gallery*/
div.scroll-container {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }