body {
    margin: 0;
    font-family: 'Martian Mono', monospace, sans-serif; 
    font-weight: 300; 
    letter-spacing: -0.5px;
}


.sml-header{
    font-weight: 200; 
    font-size: 13px;
    display: block;
    margin: 15px 0 0 0;
}

header{
    text-align: center;
}




h1{
    font-weight: 300;
    color: #F9463C;
    letter-spacing: -2px;
    /*padding: 20px 0 36px 0;*/
    
   
}

h1 a{
    font-weight: 300;
    color: #F9463C;
    letter-spacing: -2px;
    text-decoration: none;   
}
/*navigation*/
nav{
    padding:15px;
    background: linear-gradient(
   to right, #f66c62, #f994c0, #ff6b08,
   #f994c0);
   letter-spacing: -1px;
   font-size: 11px;
}


nav a{
    text-decoration: none;
    color: white;
    padding: 15px;

}

.nav a:hover{
    opacity: 0.5;

}




.header_img{
    background-image: url("../assets/images/tc-postcard.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -450px;
}




h2{
    font-weight: 700;
    letter-spacing: -2px;
    background: linear-gradient(
        to right, #f66c62, #ff6b08,
       #f994c0, #eedd44);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       font-weight: 700;

}

h3{
    color:#f9463c;
    font-size:14px;
}

p{
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    font-size: 12px;
    line-height: 24px;
}

.wrapper{
    padding: 1em 4em;
    background-color: bisque;
    display: grid;
    /*grid-template-columns: 1fr min(65ch, 100%) 1fr;*/
    grid-template-columns: 1fr

}

.wrapper > * {

    grid-column: 2;
}

.full{

    width: 100%;
    grid-column: 1 / 4;
}

img{
    max-height: 100%;
}


header,
main,
section.leftnav,
aside,
article
 {
    padding: 1em;
}



main{
    /*background-color: yellow;*/
    background-image:url( "../assets/images/TC-beach-day-waves.gif");
    background-repeat: repeat-x repeat-y;
    background-size: 498px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

article,
aside,
section.leftnav{
    background-color: initial;
}

article{
   
}

aside{
    background-color: #e57567;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 120px;
   
}

section.leftnav{
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding: 120px 50px 0px 20px;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: -1px;
}

section.leftnav li{
    padding: 20px 0;
}

@media screen and (min-width: 600px) {
    main {
        grid-template-columns: 2fr 5fr 1fr;
    }
}


ul.fav-spots{
    color:#f9463c;
    font-size:12px;
    line-height: 22px;
}


/*footer*/

footer{

}


.footer-bg{
    background: linear-gradient(
  to right, #f66c62, #f994c0, #ff6b08,
  #f994c0);
  
}

.footer-txt{
    color: white;
    font-size: 10px;
    padding: 260px 0 0 24px;
    display: block;


} 