body{
    font-family: 'Martian Mono', monospace, sans-serif; 
    font-weight: 300; 
    letter-spacing: -0.5px;
    margin: auto;
    max-width: 1000px;
    padding: 0px 60px;
}

header{
    text-align: center;
}

/*
section.head{
    position: fixed;
}*/

h1{
    font-weight: 300;
    color: #F9463C;
    letter-spacing: -2px;
    padding: 20px 0 36px 0;
    
   
}

h1 a{
    font-weight: 300;
    color: #F9463C;
    letter-spacing: -2px;
    text-decoration: none;   
}

h3{
    color:#f9463c;
    font-size:14px;

}

h4.guat{
    color: black !important;
}

h4{
    color: blue;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -2px;
    background: linear-gradient(
        to right, #f66c62, #ff6b08,
       #f994c0, #eedd44);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       font-weight: 700;
}


.sml-header{
    font-weight: 200; 
    font-size: 13px;
    display: block;
    margin: 15px 0 0 0;
}


nav{
    padding:15px;
    background: linear-gradient(
   to right, #f66c62, #f994c0, #ff6b08,
   #f994c0);
   letter-spacing: -1px;
   font-size: 11px;
}


nav a{
    text-decoration: none;
    color: white;
    padding: 15px;

}

.nav a:hover{
    opacity: 0.5;

}

p{
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    font-size: 12px;
}



.ascii-camera{
    width: min-content;
    overscroll-behavior-y: none;
    white-space: pre;
    font-size: 15px;
    margin: 0px auto;
    user-select: none;
    background: linear-gradient(
          to right, #f32170, #ff6b08,
         #cf23cf, #eedd44); 
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;

}


.favspots{
    padding: 20px 0 20px 0;
}

ul.fav-spots{
    color:#f9463c;
    font-size:12px;
    line-height: 22px;
}

.footer-bg{
    background: linear-gradient(
  to right, #f66c62, #f994c0, #ff6b08,
  #f994c0);
  
}

.footer-txt{
    color: white;
    font-size: 10px;
    padding: 260px 0 0 24px;
    display: block;


} 

.header_img{
    background-image: url("../assets/images/peru_headerbg.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_img3{
    background-image: url("../assets/images/guatemala_headerbg.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55px;
}


.header_img4{
    background-image: url("../assets/images/santorini-greece-postcard.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55px;
}

.header_img5{
    background-image: url("../assets/images/amsterdam-postcard.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}

img{

    margin-top: 40px;
}

.img_container{
    position: relative;
}

.img_overlay{

    position: absolute;
    width: 500px;
    top: -20px;
    left: 480px;
    filter: drop-shadow(20px 20px 10px rgba(185, 185, 185, 0.947));
}

blockquote{
    color: #f3665c;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    width: 560px;
    margin-top: 25px;
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
  }

  /*section{
    display: flex;}

    /*puts items in a column layout*/
    /*flex-direction: column;*/

    /*fix breaking out of their container*/
  
 /* section.index{
    display: block;
    text-align: center;
  }

  section.index p{
    font-size: 12px;
    text-align: center;  
  }

  */


  /* GUATEMALA*/
section.antigua{
    background-color: #FAECAF;
    padding: 55px;
    border: thick double #668095;
    overflow: hidden;
    height: 700px;
}

section.antigua img{
    border-style: dashed;
    border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
    border-color: #455797;
    border-width: 2px;
}

section.antigua .img-overlay{
    position: relative;
    top: -600px;
    left: 650px;
    width: 300px;
    opacity: 0.85;

}
section.antigua blockquote{
    border-radius: 50%;
    border-style: solid;
    padding: 15px 20px 15px 20px;
    margin: 0;
    position: absolute;
    top: 1270px;
}
 
section.antigua p.floatl{
    float: left;
    margin-right: 20px;
    width: 300px;
    padding: 10px;
}

section.antigua img.floatr{
     margin-left: 20px;
    
}
section.antigua{
    clear: both;
}


/* lake atitlan section*/

section.lakeatitlan{
    background-color: #f8d1bb;
    padding: 55px;
    border: thick double #668095;
    margin-top: 30px;
  
}


section.lakeatitlan img{
    border-style: dashed;
    border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
    border-color: #455797;
    border-width: 2px;
}

section.lakeatitlan .img-overlay{
    position: relative;
    top: -600px;
    left: 650px;
    width: 300px;
    opacity: 0.85;

}
section.lakeatitlan blockquote{
    border-radius: 50%;
    border-style: solid;
    padding: 15px 20px 15px 20px;
    margin: 0;
    position: absolute;
    top: 1550px;
    left: 780px;
     
}

section.lakeatitlan p.floatl{
    float: left;
    margin-right: 20px;
    width: 300px;
    padding: 10px;
}

section.lakeatitlan img.floatr{
     margin-left: 20px;
    
}
section.lakeatitlan{
    clear: both;
}

/* Acatenango volcano section*/

section.acatenangovolcano{
    background-color: #eec8ec;
    padding: 55px 55px 50px 55px;
    border: thick double #668095;
    margin-top: 30px;
  
}


section.acatenangovolcano img{
    border-style: dashed;
    border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
    border-color: #455797;
    border-width: 2px;
}

section.acatenangovolcano .img-overlay{
    position: relative;
    top: -600px;
    left: 650px;
    width: 300px;
    opacity: 0.85;

}
section.acatenangovolcano blockquote{
    border-radius: 50%;
    border-style: solid;
    padding: 15px 20px 15px 20px;
    margin: 0;
    position: absolute;
    top: 2550px;
    left: 780px;
     
}

section.acatenangovolcano p.floatl{
    float: left;
    margin-right: 20px;
    width: 300px;
    padding: 10px;
}

section.acatenangovolcano img.floatr{
     margin-left: 20px;
    
}
section.acatenangovolcano{
    clear: both;
}


/*entry 4 Greece*/
section.greece{
    background-image: url("../assets/images/PXL_20230420_164547376.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55px;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-item {
    width: calc(33.33% - 10px);
    margin: 5px;
    overflow: hidden;
}

.img-item img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#map {
    width: 800px;
    height: 600px;
    background-image: url('../assets/images/santorini-map.png'); 
    background-size: cover;
    position: relative;
}

/* Add custom markers for landmarks */
.landmark {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* CSS for the tooltip */
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
}

/*Amsterdam*/


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--flowers {
  background-image: url(../assets/images/amsterdam-flowers.jpg);
}

.card__image--nightlife {
  background-image: url(../assets/images/amsterdam-nightlife.jpg);
}

.card__image--biking {
  background-image: url(../assets/images/bikingamsterdam.jpg);
}
.card__image--windmill {
  background-image: url(../assets/images/amsterdam-windmills.jpg);
}

.card__title {
  color: gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


/* St Lucia */

.stlucia{


}

h4.stlucia{
    position: absolute;
    top: 1200px;
   left: 400px !important;
}


h4.stlucia2{
    position: absolute;
    top: 700px;
   left: 900px !important; 
}

h4.stlucia3{
    position: absolute;
    top: 1500px;
   left: 700px !important; 
   z-index: 3;
}

.header_img6{
    background-image: url("../assets/images/stlucia-postcard1.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55px;
}

.circle {
    
    border:1px solid red;    
    height:900px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:900px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
   
}

.stlucia-flag{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/stlucia-flag.png");
    background-repeat: space repeat;
    background-size: 15%;
    opacity: 0.5;
    z-index: -1;
    margin-top: 100px;  
}


.parallax-container {
    position: relative;
    height: 1000px;
   /* width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -3;*/
}

.parallax-layer {
    position: absolute;
    opacity: .9;
   /* transform: translateX(-50%);*/
}


.parallax-layer:nth-child(1){
    position: absolute;
    top: 550px;
    left: 150px;
    width: 300px;
   
}

.parallax-layer:nth-child(2){
    position: absolute;
    top: 250px;
    left: -200px;
    width: 400px;
   
}

.parallax-layer:nth-child(3){
    position: absolute;
    top: -10px;
    left: 140px;
}


.parallax-layer:nth-child(4){
    position: absolute;
    top: 450px;
    left: 550px;
    width: 400px;
    opacity: 100%;
    z-index: 3;
    mix-blend-mode:multiply;
}

.parallax-layer:nth-child(5){
    position: absolute;
    top: 590px;
    left: 380px;
    width: 200px;
    z-index: 2;
}

.parallax-layer:nth-child(6){
    position: absolute;
    top: 840px;
    left: 570px;
    width: 400px;
    z-index: 2;
}



/* hover tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }